.section {
	// 	width: 964px;
	margin: auto;
	width: 80%;
}

.header {
	width: 66%;
	margin: 30px auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	&__item {
		font-size: 1.8rem;
		padding: 14px;
		border-radius: 6px;
		cursor: pointer;
		transition: all 0.25s ease;
		margin: auto;

		&.active {
			background-color: #f8d000;
		}
	}
}

.content {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 0px 30px;

	&__item {
		margin: 10px 0;
		position: relative;
		width: 390px;
		cursor: pointer;
		transition: all 0.25s ease;

		&:hover {
			transform: translateY(-3px);
			box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);
		}

		.item__img {
			width: 100%;
			border-radius: 12px;
		}

		.item__info {
			position: absolute;
			bottom: 5%;
			margin: 0 20px;
			width: 90%;

			background-color: #fff;
			font-size: 1.4rem;
			font-weight: 500;
			border-radius: 4px;

			& p {
				padding-left: 12px;
			}
		}

		.item__icon {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 5%;
		}
	}
}
